<main
  class="ar-flex ar-items-center ar-justify-center ar-h-full ar-flex-col ar-gap-2"
>
  <angular-icon />
  <h1>Webpack + Angular</h1>

  <div class="ar-flex ar-items-center ar-justify-center ar-gap-2">
    <button hlmBtn (click)="incrementCount()">count is {{ count }}</button>
    <button hlmBtn variant="destructive" (click)="showApp = !showApp">
      Todo apps ^^
    </button>
  </div>

  <div
    class="ar-flex ar-flex-col ar-items-center ar-gap-4 ar-transition-all ar-duration-1000 ar-max-h-0"
    [ngClass]="{ '!ar-max-h-[100vh]': showApp }"
  >
    @if (showApp) {
      <todo-app />
    }
  </div>
</main>
